body {
    background-color: #E6FFFF;
    color: #151B8D;
    padding: 2%;
}

#nav1 {
    background-color: #C0FFA1;
}


#nav2 {
    border-top: solid 1px #151B8D;
    border-bottom: solid 1px #151B8D;
}

#nav2-text {
    color: #151B8D;
}

.action-area {
    background-color: #E6FFFF;
    padding-top: 2%;
}

.btn {
    background-color: #C0FFA1;
    border: solid 1px #151B8D;
    color: #151B8D;
}

.newbtn {
    margin: 2%;
}